@import 'reset';
body{
    height: 100vh;
    background-color: #4535C1;
    .container{
        max-width: 960px;
        margin: 0 auto;
        .painel-login{
            h1{
                font-size: 3em;
                text-align: center;
                color: #ccc;
            }
            margin: 0 auto;
            max-width: 300px;
            form{
            display: flex;
            flex-direction: column;
            input{
                margin-bottom: 10px;
                border-radius: 10px;
                padding: 5px;
            }button{
                border-radius: 10px;
                background-color: green;
                color: white;
                font-weight: bold;
                font-size: 20px;
                border: none;
            }
        }
    }
    .info{
        text-align: center;
        color: white;
        padding: 30px;
    }
    }
}